.chart-plot-background{
    -fx-background-color: transparent;
}

.chart-vertical-grid-lines{
    -fx-stroke: #00796F;
}

.chart-horizontal-grid-lines{
    -fx-stroke: #00796F;
}

.chart-alternative-row-fill{
    -fx-fill: transparent;
}

.default-color0.chart-series-area-fill {
    -fx-fill: rgba(0, 149, 137, 0.3); /* Fill color for the first series */
}

.default-color1.chart-series-area-fill {
    -fx-fill: rgba(102, 225, 180, 0.3); /* Fill color for the second series */
}

.default-color0.chart-series-area-line {
    -fx-stroke: #00796F; /* Line color for the first series */
}

.default-color1.chart-series-area-line {
    -fx-stroke: #ff5733; /* Line color for the second series */
}

.axis {
    -fx-tick-label-fill: #00796F; /* Color of the axis labels */
    -fx-tick-mark-stroke: #00796F; /* Color of the tick marks */
    -fx-axis-label-fill: #00796F; /* Color of the axis title */
}

.axis-tick-mark {
    -fx-stroke: #00796F; /* Color of the tick marks */
}

.axis-tick-label {
    -fx-font-size: 16px; /* Increase the font size of the axis tick labels */
}

.axis-minor-tick-mark {
    -fx-stroke: #00796F; /* Color of the minor tick marks */
}

.chart-legend {
    -fx-background-color: transparent; /* Transparent background */
    -fx-border-color: #00796F; /* Border color */
}

.chart-legend-item {
    -fx-text-fill: white; /* Font color for legend items */
}

.chart-title {
    -fx-text-fill: white; /* Color of the chart title */
}

.chart-pie-label {
    -fx-fill: white; /* Change label color to white */
}